@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/picsum16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
}

.home{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
